.top-menu-info {
  background-color: #6D6D6D;
  width: 100%;
  height: 55px;
  color: #fff;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.top-menu-info div {
  width: 100%;
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.top-menu-info div a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.top-menu-info div span {
  display: block;
}
.top-menu-info div span:first-of-type {
  padding: 10px 60px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
header {
  width: 100%;
}
.fa-bars {
  display: none;
}
.logo,
.top-cart__search-bar {
  margin-right: 100px;
}
.logo a img {
  width: 165px;
}
.top-cart {
  width: 100%;
  max-width: 1280px;
  height: 100px;
  margin: 0 auto;
  padding: 0 40px;
}
.top-cart__content {
  display: flex;
  align-items: center;
  height: 100%;
}
.top-cart__search-bar {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #ddd;
  padding: 0 40px 0 20px;
  background-image: url('../assets//icons/search.svg');
  background-repeat: no-repeat;
  background-position-x: 450px;
  background-position-y: center;
  background-size: 30px;
}
.top-cart__search-bar::placeholder {
  opacity: 0.5;
  font-weight: bold;
}
.top-cart__search-bar--responsive {
  display: none;
}
.c-btn {
  border-radius: 50px;
  padding: 10px;
  border: none;
  transition: 0.4s;
  width: 100%;
}
.top-cart__btn {
  max-width: 190px;
  min-height: 25px;
  background-color: #029BDC;
  font-weight: bold;
  color: #fff;
  margin-right: 15px;
}
.top-cart__btn:hover {
  background-color: #9ea4aa;
}
.c-create-account {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
.c-create-account:hover .c-tooltip-create-account {
  transform: scale(1);
}
.c-create-account__user-link {
  margin-right: 5px;
}
.c-create-account__user-link i {
  transition: 0.4s;
  color: #9ea4aa;
  font-size: 1.7rem;
  text-decoration: none;
}
.c-create-account__user-link i:hover {
  color: #029BDC;
}
.c-create-account__login-link {
  color: #6D6D6D;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.4s;
}
.c-create-account__login-link:hover {
  color: #029BDC;
}
.c-tooltip-create-account {
  width: 200px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #9ea4aa;
  position: absolute;
  top: 85px;
  left: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.c-tooltip-create-account::before {
  content: "";
  position: absolute;
  top: -20px;
  border: 10px solid transparent;
  border-bottom-color: #9ea4aa;
  background: transparent;
  z-index: 1;
}
.c-tooltip-create-account a {
  color: #6D6D6D;
  font-weight: bold;
  text-decoration: none;
}
.c-tooltip-create-account a:hover {
  text-decoration: underline;
}
.c-cart {
  margin-left: 20px;
  font-size: 1.7rem;
  color: #9ea4aa;
  position: relative;
}
.c-cart__cart-link {
  color: #6D6D6D;
  transition: 0.3s;
}
.c-cart__cart-link:hover {
  color: #029BDC;
}
.c-cart__bag {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #6D6D6D;
  position: absolute;
  top: -8px;
  left: 20px;
}
nav {
  width: 100%;
  background-color: #029BDC;
}
.main-navigation {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}
.main-navigation__list {
  display: flex;
  justify-content: space-around;
}
.main-navigation__item {
  padding: 16px 0;
}
.main-navigation__item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.95rem;
}
.slider-container {
  position: relative;
  overflow: hidden;
  height: 19vw;
}
.slider-container--responsive {
  display: none;
}
.c-top-slider {
  position: relative;
  z-index: 1;
}
.c-top-slider__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.c-top-slider__img img {
  width: 100%;
}
.selected-img {
  opacity: 1;
}
.previous,
.next {
  width: 30px;
  height: 30px;
  color: #029BDC;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
  top: 110px;
}
.next {
  float: right;
}
.previous {
  float: left;
}
.promo-cta {
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
}
.promo-cta__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
.promo-cta__text {
  font-size: 1rem;
  font-weight: bold;
  color: #6D6D6D;
  margin-right: 40px;
}
.promo-cta__input {
  border: 1px solid #9ea4aa;
  padding: 10px;
  margin-right: 10px;
}
.promo-cta__input::placeholder {
  font-size: 0.9rem;
}
.promo-cta__btn {
  max-width: 130px;
  font-weight: bold;
  background-color: #6D6D6D;
  color: #fff;
  text-transform: uppercase;
}
.promo-cta__btn:hover {
  background-color: #fff;
  border: 1px solid #9ea4aa;
  color: #9ea4aa;
}
.lider-cta {
  width: 100%;
  height: 100%;
  background-color: #9ea4aa;
}
.lider-cta__content {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
.lider-cta__title {
  font-size: 2.3rem;
  font-weight: normal;
  color: #fff;
  padding-top: 40px;
  margin-bottom: 40px;
}
.lider-cta__ares-condicionados {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lider-cta__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 230px;
  padding-bottom: 40px;
}
.lider-cta__product img {
  border-radius: 50%;
  width: 100%;
  margin-bottom: 20px;
}
.lider-cta__btn {
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 107px;
  height: 35px;
  background-color: #6D6D6D;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}
.lider-cta__btn:hover {
  background-color: #029BDC;
  color: #fff;
}
.conditions-row {
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.conditions-row__item {
  display: flex;
  align-items: center;
}
.conditions-row__item img {
  width: 64px;
  margin-right: 20px;
}
.conditions-row__item span {
  font-size: 0.9rem;
  color: #6D6D6D;
}
.kitchen-portfolio {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #6D6D6D;
}
.kitchen-portfolio__text {
  padding: 10px 0 10px 50px;
  color: #fff;
  text-transform: uppercase;
}
.kitchen-portfolio__img {
  width: 100%;
}
.offers {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
.offers__text {
  text-align: center;
  margin: 30px 0 10px 0;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #9ea4aa;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #6D6D6D;
}
.offers__slider {
  display: flex;
  margin-bottom: 30px;
}
.c-product {
  height: auto;
  border-right: 1px solid #9ea4aa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #535454;
  width: 100%;
  position: relative;
}
.c-product:first-child {
  border-left: 1px solid #9ea4aa;
}
.c-product .c-product__title-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #535454;
}
.c-product .c-product__title-link h3 {
  font-weight: bold;
  margin-bottom: 30px;
}
.c-product .c-product__img-link img {
  margin-bottom: 20px;
  width: 100%;
}
.c-product .c-product__price-tag {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.c-product .c-product__payment,
.c-product .c-product__discount,
.c-product .c-product__value {
  font-weight: bold;
}
.c-product .c-product__value {
  font-size: 1rem;
  color: #9ea4aa;
}
.c-product .c-product__discount {
  font-size: 1.4rem;
}
.c-product .c-product__value {
  text-decoration: line-through;
}
.c-product .c-product__badge {
  width: 60px;
  height: 60px;
  background-color: #535454;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 50%;
  position: absolute;
  left: 70%;
  top: 15%;
}
.c-product .c-product__btn {
  max-width: 120px;
  background-color: #535454;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 15px 25px;
}
.c-product .c-product__btn:hover {
  transform: scale(0.95);
}
.banners {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 40px auto;
  padding: 0 40px;
}
.banners div {
  display: flex;
  width: 100%;
}
.banners img {
  height: auto;
  width: 100%;
}
.banners .banner1 img {
  margin-bottom: 30px;
}
.banners .banner2 {
  margin-right: 30px;
}
.banners .banner4 img {
  margin-top: 30px;
}
.blog-area {
  width: 100%;
  padding: 0 40px;
}
.blog-area .blog-area__header {
  background-color: #535454;
  max-width: 1200px;
  margin: 0 auto 40px auto;
}
.blog-area .blog-area__header h3 {
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px;
}
.blog-area .blog-area__posts {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.blog-area .blog-area__post {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-area .blog-area__post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 22px;
  height: 280px;
}
.blog-area .blog-area__post-content img {
  max-width: 100%;
  max-height: 150px;
  margin-bottom: 20px;
}
.blog-area .blog-area__post-content p:hover {
  font-weight: normal;
}
.blog-area .blog-area__btn {
  margin-top: auto;
  max-width: 150px;
  background-color: #535454;
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
}
.categories-area {
  width: 100%;
  padding: 0 40px;
  margin: 35px 0;
}
.categories-area .categories-area__content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px;
  background-color: #6D6D6D;
}
.categories-area .categories-area__title {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.categories-area .categories-area__categories {
  display: flex;
  justify-content: space-between;
}
.categories-area .categories-area__category {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.categories-area .categories-area__category img {
  width: 100%;
  max-width: 90px;
  margin-bottom: 10px;
}
.categories-area .categories-area__category p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.categories-area .categories-area__category ul {
  font-size: 0.95rem;
}
.categories-area .categories-area__category ul li {
  margin-bottom: 5px;
}
.categories-area .categories-area__category ul li a {
  color: #fff;
  text-decoration: none;
}
.bottom {
  width: 100%;
  background-color: #6D6D6D;
  padding-top: 50px;
}
.bottom__content {
  max-width: 1280px;
  padding: 0 40px 40px 40px;
  margin: 0 auto;
}
.bottom__navigation {
  display: flex;
  justify-content: space-between;
}
.bottom__logo {
  width: 160px;
  margin-bottom: 20px;
}
.bottom__col {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.bottom__col h3 {
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 15px;
}
.bottom--col1 span,
.bottom--col1 p,
.bottom--col1 a {
  margin-left: 10px;
  color: #fff;
}
.bottom--col1 span {
  margin-bottom: 5px;
  font-weight: bold;
}
.bottom--col1 p {
  margin-bottom: 10px;
}
.bottom--col1 a {
  font-weight: bold;
  text-decoration: none;
}
.bottom--col-list li {
  margin-bottom: 15px;
}
.bottom--col-list li a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
}
.bottom--col-list li a:hover {
  text-decoration: underline;
}
.bottom__col--social-media ul li,
.bottom__col--security ul li {
  display: inline;
  margin-right: 4px;
}
.bottom__col--social-media ul li:last-child,
.bottom__col--security ul li:last-child {
  margin-right: 0;
}
.bottom__col--social-media {
  margin-bottom: 10px;
}
.bottom__col--social-media .social-media-img {
  width: 50px;
}
.bottom__col--security {
  max-width: 290px;
}
.bottom__col--security .ssl-badge {
  width: 70px;
}
.bottom__col--security .opinions-badge {
  margin: 10px 0 0 60px;
}
.bottom__alert {
  color: #fff;
  max-width: 720px;
  margin: 0 auto;
}
.bottom__alert p {
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.9rem;
}
.bottom__alert p:last-child {
  margin-bottom: 0;
}
.bottom-info {
  width: 100%;
  background-color: #EAEAEA;
}
.bottom-info__content {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-info__content address {
  font-size: 0.6rem;
  font-style: normal;
}
