@media (max-width: 768px) {
  .top-menu-info div {
    font-size: 0.65rem;
  }
  .slider-container {
    display: none;
  }
  .slider-container--responsive {
    display: block;
    overflow: hidden;
    height: 60vw;
  }
  .c-top-slider__img--responsive {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .c-top-slider__img--responsive img {
    width: 100%;
  }
  .selected-img--responsive {
    opacity: 1;
  }
  .previous,
  .next {
    display: none;
  }
  .lider-cta__title {
    font-size: 1.7rem;
  }
  .lider-cta__product img {
    width: 90%;
  }
  .conditions-row__item img {
    width: 50px;
  }
  .conditions-row__item span {
    font-size: 0.6rem;
  }
  .c-product .c-product__badge {
    width: 40px;
    height: 40px;
    font-size: 0.7rem;
    top: 28%;
  }
  .categories-area {
    padding: 0;
  }
  .categories-area .categories-area__category img {
    width: 50px;
  }
  .categories-area .categories-area__category ul {
    font-size: 0.8rem;
  }
  .bottom {
    padding-top: 0;
    padding-bottom: 0;
  }
  .bottom__navigation {
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .bottom__logo {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .bottom__col span,
  .bottom__col p,
  .bottom__col a {
    font-size: 0.7rem;
  }
  .bottom--col-list h3 {
    font-size: 0.95rem;
  }
  .bottom--col-list ul li a {
    font-size: 0.75rem;
  }
  .bottom__col--social-media h3 {
    font-size: 0.95rem;
  }
  .social-media-img {
    max-width: 30%;
  }
  .bottom__col--security {
    max-width: 100%;
  }
  .bottom__col--security h3 {
    font-size: 0.95rem;
  }
  .bottom__col--security img {
    max-width: 80%;
  }
  .bottom__col--security .opinions-badge {
    margin: 0;
  }
  .bottom--col-list,
  .bottom--col1 {
    display: none;
  }
  .bottom--responsive {
    display: block;
    background-color: #6D6D6D;
    margin-bottom: -1px;
    padding: 20px;
    color: #fff;
  }
  .bottom--responsive div {
    display: flex;
    justify-content: space-between;
  }
  .bottom--responsive label {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .bottom--responsive input {
    display: none;
  }
  .bottom--responsive ul {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s linear;
    line-height: 22px;
    text-align: center;
  }
  .bottom--responsive ul li a {
    color: #fff;
    text-decoration: none;
  }
  .bottom--responsive input:checked ~ ul {
    height: auto;
    max-height: 150px;
    margin-bottom: 15px;
  }
  .bottom__links--responsive {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  .bottom__links--responsive ul li {
    margin-bottom: 10px;
  }
  .bottom__links--responsive ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
}
@media (max-width: 667px) {
  .top-menu-info,
  .blog-area {
    display: none;
  }
  .c-btn,
  .promo-cta__text {
    font-size: 0.75rem;
  }
  .top-cart--responsive {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
  }
  .top-cart--responsive .top-cart__row--responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .top-cart--responsive .top-cart__account-cart--responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100px;
  }
  .top-cart--responsive .fa-bars {
    font-size: 1.2rem;
  }
  .top-cart--responsive .fa-user {
    font-size: 1.5rem;
  }
  .top-cart--responsive .fa-shopping-cart {
    font-size: 1.4rem;
  }
  .top-cart--responsive .c-cart__bag {
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #6D6D6D;
    position: absolute;
    top: -4px;
    left: 20px;
  }
  .top-cart--responsive .top-cart__search-bar--responsive {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 0 40px 0 20px;
    background-image: url('../assets//icons/search.svg');
    background-repeat: no-repeat;
    background-position-x: 289px;
    background-position-y: center;
    background-size: 30px;
  }
  .top-cart--responsive .top-cart__search-bar--responsive::placeholder {
    opacity: 0.5;
    font-weight: bold;
  }
  .top-cart--responsive .logo--responsive a img {
    width: 95px;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 2;
  }
  .nav--responsive {
    width: 80%;
    height: 100%;
    background-color: rgba(2, 155, 220, 0.8);
    position: absolute;
    z-index: 3;
    top: 0;
    left: -5000px;
    transition: left 0.4s;
    padding: 50px 0 0 25px;
  }
  .nav--responsive ul,
  .nav--responsive label {
    display: block;
  }
  .nav--responsive label {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  .nav--responsive ul {
    overflow: hidden;
    max-height: 0;
    line-height: 22px;
    font-size: 0.9rem;
  }
  .nav--responsive ul li {
    margin-bottom: 5px;
  }
  .nav--responsive ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  .nav--responsive input:checked ~ ul {
    height: auto;
    max-height: 100%;
    margin-bottom: 15px;
  }
  .fa-bars {
    display: block;
    margin-right: 30px;
    color: #6D6D6D;
  }
  .logo a img {
    width: 75px;
  }
  .top-cart {
    display: none;
  }
  .c-create-account__login-link {
    display: none;
  }
  .main-navigation {
    display: none;
  }
  .promo-cta__content {
    padding: 0 20px;
  }
  .promo-cta {
    height: auto;
    padding: 20px 0;
  }
  .promo-cta__content {
    flex-direction: column;
  }
  .promo-cta__text {
    text-align: center;
    margin: 0 0 20px 0;
  }
  .promo-cta__input {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .lider-cta__content {
    padding: 20px;
  }
  .lider-cta__ares-condicionados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .conditions-row__item {
    flex-direction: column;
    margin-right: 15px;
  }
  .conditions-row__item:last-child {
    margin-right: 0;
  }
  .offers {
    padding: 0 20px;
  }
  .offers__slider {
    overflow: scroll;
  }
  .c-product .c-product__badge {
    top: 35%;
  }
  .banners {
    padding: 0 20px;
  }
  .banners .banner1,
  .banners .banner4 {
    display: none;
  }
  .banners .banner2 {
    margin: 0 0 15px 0;
  }
  .banners div {
    flex-direction: column;
  }
  .categories-area .categories-area__content {
    padding: 0 20px;
  }
  .categories-area .categories-area__title {
    padding-top: 40px;
  }
  .categories-area .categories-area__categories {
    overflow: scroll;
    padding-bottom: 40px;
  }
  .categories-area .categories-area__category {
    margin: 15px;
  }
  .bottom--responsive ul {
    text-align: left;
  }
  .bottom-info .bottom-info__content {
    flex-direction: column;
    justify-content: center;
  }
  .bottom-info .bottom-info__content address {
    text-align: center;
    margin-bottom: 15px;
  }
}
